.git
.github
.idea
.vscode
.trunk
**/.DS_Store
**/node_modules
public
**/.env
**/.env.*
**/*.pem
**/*.key
.npmrc
.yarn/cache
.yarn/install-state.gz
.yarn/build-state.yml
.yarn/unplugged
coverage
test-results
playwright-report
blob-report
tests/playwright/.cache
**/*.log
**/image.tar
docs
deploy
infrastructure
docker-compose.yml
